/* reset base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: #add8e6;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  display: flex;
  background-color: #daa520;
  border: 1px dashed black;
  width: 20%;
  align-items: center;
}

.link {
  display: flex;
  background-color: #daa520;
  border: 1px dashed black;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  background-color: #daa520;
  border: 1px dashed black;
  width: 20%;
  align-items: center;
  justify-content: end;
}

/* main */

/*hero*/
.hero {
  background-color: #00008b;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementohero {
  background-color: #ee82ee;
  height: 80%;
  display: flex;
  width: 60%;
  border: 1px dashed black;
}

/*sezioni*/
.sezione1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}

.elementosezione1 {
  width: 50%;
  height: 400px;
  background-color: #1e90ff;
  border: 1px dashed black;
}

.elementosezione2 {
  width: 30%;
  height: 400px;
  background-color: #ffb6c1;
  border: 1px dashed black;
}

.sezionegrigia {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  padding: 20px;
}
